.browserSynth {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0;

  @media only screen and (min-width: $screen-md) {
    padding: 0 2em;
  }

  h2 {
    margin-top: 0;
  }

  .browserSynth__mySynths {
    border: 7px solid white;
    margin-bottom: 0;
    width: 100%;
    max-width: 400px;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 1em;
    }
  }

  .browsersynth__inner {
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: $eggshell;
    color: $black;
    padding: 1em;
    margin-bottom: 1em;
  }

  .browserSynth__hacktellImg {
    max-width: 300px;
    width: 100%;
    margin-right: 1em;
    float: left;
    margin-bottom: 1em;
  }
}
