.customMap {
  height: 100%;
  width: 100%;

  .customMap__initMapBtn {
    padding: 1em 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    -webkit-appearance: none;
    border: solid white 2px;
    border-radius: 2em;
    color: white;
    font-family: $thinFont;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    width: 95%;
    max-width: 236px;
  }

  .customMap__map {
    width: 100%;
    height: 100%;
  }

  .customMap__getLocation {
    height: 100%;
    width: 100%;
    background-color: black;
    transition: $trans-med;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    position: absolute;

    form {
      width: 100%;
      max-width: 386px;
      padding: 1em;
    }
  }

  .customMap__inputContainer {
    height: 2.6em;
    display: flex;
    width: 100%;
  }

  .customMap__input {
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    padding: 0 0.5em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-right: 0;
    border-radius: 0;
  }

  .customMap__submit {
    background-color: white;
    text-transform: uppercase;
    -webkit-appearance: none;
    height: 100%;
    font-size: 1em;
    border: 2px solid white;
    box-sizing: border-box;
    font-family: $thinFont;
    margin-left: 0;
    border-radius: 0;
  }

  .customMap__label {
    display: block;
    font-family: $thinFont;
    margin-bottom: 1em;
    font-size: 1.4em;
  }

  .customMap__mapContainer {
    width: 100%;
    height: 100%;
    background-color: $black;
    transition: $trans-med;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    position: absolute;
  }

  .customMap__noResults {
    margin-top: 1em;
    font-family: $thinFont;
  }

  .customMap__search {
    height: 3em;
    width: 92%;
    font-size: 1.2em;
    font-family: $thinFont;
    margin: 0.6em auto;
    padding: 0 0.5em;
    left: 0;

    &:focus {
      box-shadow: 2px 0px 21px white;
    }

    @media only screen and (min-width: $screen-md) {
      width: 50%;
      margin-right: 0.5em;
      right: 0;
      left: auto;
    }
  }

  .customMap__placeName {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }

  .customMap__placeAddress {
    font-family: $thinFont;
  }

  .pac-container {
    background-color: $eggshell;
  }

  .customMap__mapContainer--show,
  .customMap__getLocation--show {
    transform: none;
    -webkit-transform: none;
  }

  .hidden {
    visibility: hidden;
    display: block;
  }

  .gm-style-iw {
    color: $black;
  }

  .mapDetailView {
    @include secondaryPage($eggshell);
  }

  .mapDetailView--show {
    transform: none;
    -webkit-transform: none;
  }

  .mapDetailView__backBtn {
    @include backButton;
    z-index: 1;
    opacity: 1;

    svg {
      color: $black;
      background: white;
      border-radius: 50%;
    }
  }

  .mapDetailView__list {
    width: 100%;
    padding: 0.5em 0 1em;
    background-color: $eggshell;
    box-sizing: border-box;
    color: $black;
  }

  .mapDetailView__reviews {
    padding: 0 1.5em 1.5em;
  }

  .mapDetailView__reviewItem {
    &:last-of-type .mapDetailView__divider {
      display: none;
    }
  }

  .mapDetailView__leadinDivider,
  .mapDetailView__divider {
    background-image: url(../img/pencil-lines.gif);
    height: 12px;
    width: 100%;
    background-repeat: no-repeat;
  }

  .mapDetailView__leadinDivider {
    background-size: 306px;
    background-position-y: -21px;
    margin: 0 0 2em;
  }

  .mapDetailView__divider {
    background-size: 400px;
    background-position-y: -132px;
    margin: 2.6em 0;

    &.mapDetailView__divider--odd {
      background-position-y: -116px;
    }

    &.mapDetailView__divider--even {
      background-position-y: -94px;
    }
  }

  .mapDetailView__stars {
    background-image: url(../img/filledStarSprite.png);
    width: 100%;
    height: 26px;
    background-repeat: no-repeat;
    background-position-y: -26px;
    &::after {
      content: "";
      background-image: url(../img/filledStarSprite.png);
      height: 26px;
      position: absolute;
    }
  }

  .mapDetailView__stars--1 {
    &::after {
      width: 28px;
    }
  }

  .mapDetailView__stars--2 {
    &::after {
      width: 58px;
    }
  }

  .mapDetailView__stars--3 {
    &::after {
      width: 86px;
    }
  }

  .mapDetailView__stars--4 {
    &::after {
      width: 114px;
    }
  }

  .mapDetailView__stars--5 {
    &::after {
      width: 140px;
    }
  }

  .mapDetailView__reviewItemFlex {
    display: flex;
    flex-flow: row nowrap;
  }

  .mapDetailView__reviewIcon {
    height: 48px;
    margin-right: 0.8em;
  }

  .mapDetailView__title {
    font-family: $specialElite;
  }
  .mapDetailView__addressContainer {
    display: flex;

    .address {
      color: $black;
      width: 50%;
    }
  }

  .mapDetailView__listItem {
    text-align: left;
    padding: 0.5em 0;
    font-family: $specialElite;

    a {
      color: $link;
      font-family: $specialElite;
    }

    span {
      font-family: $specialElite;
      text-transform: uppercase;
      font-size: 0.9em;
      color: $darkRed;
      width: 6em;
      display: inline-block;
    }
  }

  .mapDetailView__pencilLine {
    @include pencilLine;
  }

  .mapDetailView__pencilLine--one {
    background-position-y: -99px;
    height: 6px;
    margin-top: 0.8em;
  }

  .mapDetailView__pencilLine--two {
    background-position-y: -86px;
    height: 8px;
    margin-top: 0.8em;
  }

  .mapDetailView__flex {
    display: flex;
    flex-flow: column nowrap;

    @media only screen and (min-width: $screen-md) {
      flex-flow: row nowrap;
    }
  }

  .mapDetailView__photos,
  .mapDetailView__reviews {
    width: 100%;
    padding: 0 1.5em 1.5em;

    @media only screen and (min-width: $screen-md) {
      width: 50%;
    }
  }
  .mapDetailView__img {
    transition: $trans-fast;

    &:hover {
      opacity: 0.8;
    }
  }

  .mapDetailView_reviews {
    color: $black;
  }

  .imageModal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: $trans-fast;
    pointer-events: none;
    z-index: 3;
  }

  .imageModal__backBtn {
    @include backButton;
    opacity: 1;
    z-index: 1;
  }

  .imageModal__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: $trans-fast;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    max-width: 600px;
    padding: 2em;
  }

  .imageModal--show {
    opacity: 1;
    pointer-events: auto;
  }
}
