.filmSearch {
  height: 100%;
  width: 100%;
  overflow-x: scroll;

  .filmSearch__dataList {
    @include secondaryPage;
  }

  .filmSearch__form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    width: 90%;
    height: 3em;
    border: 1px solid $black;
    z-index: 0;

    @media only screen and (min-width: $screen-md) {
      width: 40%;
      height: 2.5em;
    }
  }

  .filmSearch__title,
  .filmSearch__submit {
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    font-family: $thinFont;
    height: 100%;
    border-radius: 0;
  }

  .filmSearch__title {
    width: 100%;
    padding: 0 0.5em;
    font-size: 1em;
  }

  .filmSearch__submit {
    background-color: #1c0b71;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
  }

  .filmSearch__img {
    height: auto;
    cursor: pointer;
    max-height: none;
    width: 100%;

    @media only screen and (min-width: 451px) {
      max-height: 217px;
      width: auto;
    }

    @media only screen and (min-width: $screen-md) {
      max-height: 317px;
      width: auto;
    }

    @media only screen and (min-width: $screen-md) {
      max-height: 417px;
      width: auto;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .filmSearch__loader {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 55%;
    width: 5em;
    display: none;
  }

  .filmSearch__noResults {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
  }

  .filmSearch__viewMoreBtn {
    margin: 2em auto;
    display: none;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-appearance: none;
    border-radius: 50%;
    font-size: 1em;
    height: 6em;
    width: 6em;
    border: 2px solid $black;
    transition: $trans-med cubic-bezier(0, 1.1, 0.8, 1);
    color: white;
    background-color: $black;
    border: 2px solid white;

    &:hover {
      transform: scale(1.4);
    }
  }

  .filmSearch__singleFilm {
    background-color: $black;
    transition: $trans-fast;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow-x: scroll;

    @media only screen and (min-width: $screen-md) {
      flex-flow: row nowrap;
      justify-content: space-around;
    }
  }

  .filmSearch__innerContainer {
    height: 100%;
    width: 100%;

    @media only screen and (min-width: $screen-md) {
      width: 50%;
    }
  }

  .filmSearch__backBtn {
    height: 3em;
    width: 3em;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-appearance: none;
    background-color: transparent;
    color: white;
    font-size: 2em;
    border: none;
    opacity: 0.6;
  }

  .filmSearch__posterContainer {
    height: 100%;
    display: grid;

    @media only screen and (min-width: $screen-md) {
      width: 50%;
    }

    img {
      max-width: 100%;
      max-height: 100vh;
      margin: auto;
    }
  }

  .filmSearch__posterImg {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  .filmSearch__backdropImg {
    width: 100%;
  }

  .filmSearch__singleData {
    list-style: none;
    padding: 0 0.4em;
    margin: 0.4em 0 0.8em;
  }

  .filmSearch__statName,
  .filmSearch__statData {
    font-family: $thinFont;
    font-size: 0.8em;
  }

  .filmSearch__statName {
    color: #f1ed14;
  }

  .filmSearch__dataList--show,
  .filmSearch__singleFilm--show {
    transform: none;
    -webkit-transform: none;
    z-index: 1;
  }

  .filmSearch__viewMoreBtn--show {
    display: block;
  }
}

.page__subtitle {
  .filmSearch__logoContainer {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    @media only screen and (min-width: $screen-md) {
      padding: 0;
    }

    span {
      font-family: $thinFont !important;
    }

    img {
      height: auto;
      width: 100%;
      margin: 4px 2px;
      max-width: 200px;
      margin: 6px auto 0;
    }
  }
}
