@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");

$thinFont: "Nanum Gothic", sans-serif;
$specialElite: "Special Elite", cursive;
$ptSans: "PT Sans", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ptSans;
}

p,
span {
  font-family: $thinFont;
}
