.funTranslation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: $thinFont;

  .funTranslation__inputContainer {
    height: 2em;
  }

  .funTranslation__input {
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    text-transform: uppercase;
    height: 100%;
    padding: 0 0.5em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    height: 5em;
  }

  .funTranslation__submit {
    background-color: white;
    text-transform: uppercase;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    font-size: 1em;
    border: 2px solid white;
    box-sizing: border-box;
    font-family: $thinFont;
    display: block;
  }

  .funTranslation__textContainer {
    height: auto;
    width: 100%;
    background-color: white;
    color: black;
    font-family: $thinFont;
  }
}
