html,
body,
#root,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $eggshell;
  position: relative;
}

.page {
  position: fixed;
  height: 100%;
  width: 87%;
  top: 0;
  left: 13%;
  transition: transform $trans-med;
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  visibility: hidden;
  z-index: 2;

  @media only screen and (min-width: $screen-md) {
    width: 90%;
    left: 10%;
  }
}

.page__iconContainer {
  padding: 1em 2em;
  width: 100%;
  margin: 0 auto;

  @media only screen and (min-width: $screen-md) {
    width: 50%;
    max-width: 419px;
  }
}

.page__title {
  font-size: 1.8em;
  margin: 0;
  margin-bottom: 0.2em;
  line-height: 0.8;
}

.page__subtitle {
  font-size: 1em;
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
}

.page__container {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;

  .page__icon {
    font-size: 4em;
  }
}

#filmsearch {
  background-color: #483d8b;
}

#mapdemo {
  background-color: #9e1d00;
}

#spacestuff {
  background-color: $black;
}

#browsersynth {
  background-color: #0a7676;
  overflow-y: scroll;
}

#filmsearch:target,
#mapdemo:target,
#spacestuff:target,
#browsersynth:target {
  visibility: visible;
  transform: none;
  -webkit-transform: none;
  left: 13%;

  @media only screen and (min-width: $screen-md) {
    left: 10%;
  }
}

.hidden {
  display: none;
}
