#homepage {
  position: fixed;
  height: 100%;
  width: 87%;
  top: 0;
  left: 13%;
  z-index: 1;
  overflow-x: scroll;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1d1d1+0,dcdcdc+39,f2f2f2+100 */
  background: rgb(209, 209, 209); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(220, 220, 220, 1) 39%,
    rgba(242, 242, 242, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(220, 220, 220, 1) 39%,
    rgba(242, 242, 242, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(220, 220, 220, 1) 39%,
    rgba(242, 242, 242, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  .page__container {
    height: 100%;
    justify-content: center;
    padding: 0;

    @media only screen and (min-width: $screen-md) {
      padding: 0 1em;
    }

    .page__title,
    .page__subtitle,
    .page_icon,
    svg {
      color: $black;
    }
  }

  @media only screen and (min-width: $screen-md) {
    width: 90%;
    left: 10%;
  }

  .aboutMe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    color: $black;

    @media only screen and (min-width: $screen-md) {
      flex-flow: row nowrap;
    }

    .aboutMe__listContainer,
    .aboutMe__textContainer {
      border-right: 1px solid $black;
    }

    .aboutMe__listContainer,
    .aboutMe__textContainer,
    .aboutMe__skillsContainer {
      width: 100%;
      padding: 1em;
      background-color: $eggshell;
      box-sizing: border-box;

      @media only screen and (min-width: $screen-md) {
        width: 33.3%;
      }
    }

    .aboutMe__skillsContainer {
      text-align: left;
    }

    .aboutMe__skillsLeadin {
      margin-top: 0;
    }

    .aboutMe__skillTitle {
      margin-bottom: 0.4em;
      margin-top: 1.2em;
    }

    .aboutMe__profileImg {
      width: 100%;
      border-radius: 3px;
      box-shadow: -1px 1px 6px #989898;
      border: 2px solid #828181;
      box-sizing: border-box;
      margin-bottom: 0.6em;
    }

    .aboutMe__textBorder {
      box-shadow: -1px 1px 6px #989898;
      border: 2px solid #828181;
      padding: 0 0.8em;
      text-align: left;
      background-color: #e7e7e7;
    }

    .aboutMe__listItem {
      text-align: left;
      padding: 0.5em;
      font-family: $specialElite;

      span {
        font-family: $specialElite;
        text-transform: uppercase;
        font-size: 0.9em;
        color: $darkRed;
        width: 7.5em;
        display: inline-block;
      }

      a {
        font-family: $specialElite;
        color: $link;
        word-break: break-word;

        &:hover {
          color: lighten(#000ff3, 20%);
        }
      }
    }

    .meter {
      height: 1.4em;
      width: 100%;
      position: relative;
      background: #555;
      border-radius: 25px;
      margin-right: 0.8em;
    }

    .meter > span {
      display: block;
      height: 100%;
      border-radius: 20px 8px 8px 20px;
      background-color: rgb(43, 194, 83);
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden;
      width: 25%;
    }

    .aboutMe__meterContainer {
      display: flex;
    }

    .aboutMe__pencilLine {
      @include pencilLine;
      margin-top: 0.8em;
    }

    .aboutMe__pencilLine--one {
      background-position-y: -60px;
    }

    .aboutMe__pencilLine--two {
      background-position-y: -46px;
    }

    .aboutMe__pencilLine--three {
      background-position-y: -34px;
      margin-top: 20px;
    }

    .aboutMe__pencilLine--four {
      background-position-y: -20px;
    }
  }
}
