.mainNav {
  background-color: $black;
  position: fixed;
  height: 100%;
  width: 13%;
  left: 0;
  top: 0;
  z-index: 2;

  @media only screen and (min-width: 768px) {
    width: 10%;
  }

  .mainNav__main {
    height: 75%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .mainNav__icon {
    transform: scale(1);
    font-size: 2em;
    color: $eggshell;
    transition: all $trans-fast ease-out;
    -webkit-transition: all $trans-fast ease-out;
    -moz-transition: all $trans-fast ease-out;
    -o-transition: all $trans-fast ease-out;

    @media only screen and (min-width: $screen-md) {
      font-size: 3em;
    }

    &:active,
    &:focus {
      transform: scale(1.6);
      -webkit-transform: scale(1.6);
      -moz-transform: scale(1.6);
      -o-transform: scale(1.6);
      transition-delay: 0.25s;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .mainNav__sub {
    height: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    transition: 200ms;

    .mainNav__icon {
      background-color: white;
      border-radius: 50%;
      height: 1.4em;
      width: 1.4em;
      color: $eggshell;
      font-size: 1.7em;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.2s;

      @media only screen and (min-width: $screen-md) {
        height: 1.6em;
        width: 1.6em;
        font-size: 2em;
      }

      svg {
        color: $black;
      }
    }

    .mainNav__icon--show {
      opacity: 1;
    }
  }
}
