.nasa {
  margin-top: 252px;

  @media only screen and (min-width: $screen-md) {
    margin-top: 219px;
  }

  .nasa__inner {
    max-width: 886px;
    margin: 0 auto;
    padding: 1em;
    background-color: $eggshell;
    color: $black;
    text-align: left;

    @media only screen and (min-width: $screen-lg) {
      max-width: 1224px;
    }

    img {
      width: 100%;
    }
  }
}

#spacestuff {
  overflow-y: scroll;

  .page__container {
    background-color: $black;
    z-index: -1;

    &::after {
      content: "";
      background-image: url(../img/star-space-tile.jpg);
      background-attachment: fixed;
      background-position: center;
      opacity: 0.4;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -2;
      background-size: 308px;
    }
  }

  .page__icon {
    color: $eggshell;
  }

  .page__iconContainer {
    position: fixed;
    z-index: -1;
    transform: translate(-50%, 0);
    top: 0;
    left: 55%;
    width: 87%;
    color: #fc3d21;
    text-shadow: 2px 2px 4px #143e93;

    @media only screen and (min-width: $screen-md) {
      width: 50%;
    }
  }
}
