//colors
$black: #232323;
$eggshell: #fbfbfb;
$darkRed: #a23939;
$link: #000ff3;
//screen sizes
$screen-md: 768px;
$screen-lg: 1400px;
//transition speed
$trans-fast: 0.4s;
$trans-med: 0.6s;
* {
  box-sizing: border-box;
}

a {
  color: $link;
}

@mixin secondaryPage($bgColor: $black) {
  background-color: $bgColor;
  transition: transform 0.6s;
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
}

@mixin backButton {
  height: 3em;
  width: 3em;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-appearance: none;
  background-color: transparent;
  color: white;
  font-size: 2em;
  border: none;
  opacity: 0.8;
}

@mixin pencilLine {
  background-image: url("../img/pencil-lines.gif");
  background-repeat: no-repeat;
  height: 9px;
  width: 100%;
}
